local input = {
  -- { "Name", SOURCE },
  -- { "Name", VALUE, min, max, default },
}

local output = {
  -- "Out1",  -- max 4 chars, values -1024..+1024
}

local function init()
end

local function run()
  return 0
end

return { input = input, output = output, init = init, run = run }
